.landing-insurance {
  width: 100%;

  margin-top: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .landing-insurance-text {
    text-align: center;

    width: 50vw;

    h1 {
      font-family: $header-font;
      font-size: 3rem;
      color: $main-color;

      @include text-gradient($accent-color, $third-color);
    }

    p {
      font-family: $body-font;
      font-size: 1.5rem;
      color: $secondary-color;
      b {
        color: $accent-color;

        @include text-shadow($accent-color);
      }
    }
  }

  img {
    width: 30vw;
  }
}
