$background-color: hsl(223, 49%, 8%);
$background-color-transparent: hsla(223, 49%, 8%, 0.3);
$secondary-background-color: hsl(217, 33%, 17%);
$main-color: hsl(0, 0%, 100%);
$secondary-color: hsl(215, 20%, 65%);
$third-color: hsl(329, 86%, 70%);
$accent-color: hsl(198, 93%, 60%);

$header-font: "Inter", sans-serif;
$body-font: "Roboto", sans-serif;
